<section>
  <span class="contact">Name: <%= contact.name %></span>
  <span class="contact">Position: <%= contact.position %></span>
  <span class="contact">Email: <%= contact.email %></span>
</section>
