<h2>All Companies</h2>
<p>Add a Company: <%= link_to "Add", new_company_path %>
<ul>
  <% @companies.each do |company| %>
  <p>
    <%= link_to company.name, company_path(company), method: "get" %>
    <%= button_to "Edit", edit_company_path(company), method: "get" %>
    <%= button_to "Delete", company_path(company), method: "delete" %>
  </p>
  <% end %>
</ul>
