<section class="category">
  <ul class="container">
    <h3>Category Title:<%= @category.title %></h3>
    <div class="button">
      <%= button_to "Delete Category", category_path(@category), method: "delete" %>
      <%= button_to "Edit Category", edit_category_path(@category), method: "get" %>
    </div>
  <% @category.jobs.each do |job| %>
    <p><%= link_to "#{job.title}", company_job_path(job.company_id, job.id) %></p>
  <% end %>
  </ul>
</section>
